APP_NAME=Skoolyst Module
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/skoolyst-module/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=skoolyst_module
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=skoolyst_module_session
SESSION_SECURE=false
SESSION_HTTP_ONLY=true

UPLOAD_MAX_SIZE=10485760
